# Directories
src/
tests/
test-setup/
examples/
docs/
public/
.github/
.idea

# Files
.gitattributes
.gitignore
.prettierignore
prettier.config.js
jest.config.js
yarn.lock
tsconfig.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
