{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "semi": true,
    "importOrder": ["^@server/(.*)$", "^@core/(.*)$", "<THIRD_PARTY_MODULES>", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderParserPlugins" : ["typescript"]

}
